*{
    padding: O;
    margin: 0;
}


/* Estilos básicos para el menú */

body {
font-family: "Encode Sans", serif;
background-color: #f4f5f0;
}

header {
background-color: #4fd38a;
justify-content: center;
}

a {
text-decoration: none;
color: #ffffff;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.barra-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #acacac;
        
}
.back-nav{
    background-color: #acacac;
}


/* configuración buscador*/

.buscador {
    display: flex;
    justify-content: center;
}
.buscador input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #d14018;
    border-radius: 4px 0 0 4px; /* Bordes redondeados solo a la izquierda */
    width: 300px;
    outline: none;
    color: red;
    background-color: #a6f18f;
}
.buscador input::placeholder {
    color: #d14018
}

.buscador button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #d14018;
    color: white;
    border-radius: 0 4x 4px 0; /* Bordes redondeados solo a la derecha */
    cursor: pointer;
}
.buscador button:hover {
    background-color: #932d11;
}

/* Acá configuracion del Acceso de Comercios */

.acceso{
    color: #d14018;
    font-weight: bold;
}


/* Acá comienzas la configuración del menu de categorias y navegacion */

.menu {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #979797;
}

/* Submenú (oculto por defecto) */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bcbcbc;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.submenu li a {
    padding: 10px;
    color: white;
}

.barra-nav div a{
    padding: 10px 20px;
}

.barra-nav div :hover{
    background-color: #979797;
}

.submenu li a:hover {
    background-color: #b0b0b0;
}

/* Mostrar submenú al pasar el mouse */
.menu li:hover > .submenu {
    display: block;
}

/* Submenú anidado (subcategorías) */
.submenu .submenu {
    left: 100%;
    top: 0;
}


/* aca comienza main del index*/
.responsive-widht{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    background-color: f4f5f0;
    min-height: 100vh;
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}


.titulo-main h2{
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.titulo-main{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: #a6f18f;
}

.content-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categoria-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a6f18f;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    width: 25%;
    height: auto;
}

.categoria-main a{
    margin: 15px;
    font-size: 2em;
    text-align: center;
}

.content-main :hover{
    background-color: #4fd38a;
}


.content-main img{
    width: 100%;
    height: auto;
}


/* aca comienza main del acceso*/

.acceso-form input[type="submit"] {
background-color: #1c7aec;
color: #ffffff;
}

.acceso-form a {
    color: #d14018;
    text-decoration: underline;
}

/* aca comienza main del acceso*/

.contacto-form input[type="submit"] {
    background-color: #1c7aec;
    color: #ffffff;
    }


/* comienza main de los comercios*/
#map {
    height: 400px; /* Altura del mapa */
    width: 100%; /* Ancho del mapa */
}
.container {
    display: flex;
}
#list {
    width: 200px;
    margin-right: 20px;
}
#list ul {
    list-style-type: none;
    padding: 0;
}
#list li {
    cursor: pointer;
    padding: 10px;
    background-color: #a6f18f;
    margin-bottom: 5px;
}
#list li:hover {
    background-color: #4fd38a;
}
#list a{
    color:#ffffff;
    background-color: #4fd38a;
}
/* aca comienza footer*/
footer{
    background-color: #a6f18f;
}

footer a {
color: black;
font-weight: bold;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #a6f18f;
    padding: 10px;
}

.texto-footer{
    width: 50%;
}

.derechos.footer{
    width: 25%;
}

.redes-footer{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.redes-footer i {
    margin: 10px;
}
