*{
    padding: O;
    margin: 0;
}
:root{
    --color-1: #4fd38a;
    --color-2: #a6f18f;
    --color-3: #d14018;
    --color-4: #932d11;
    --color-5: #acacac;
    --color-6: #979797;
    --color-7: #f4f5f0;

}

/* Estilos básicos para el menú */

body {
font-family: "Encode Sans", serif;
background-image: linear-gradient(60deg, var(--color-1), var(--color-2));
}

header {
justify-content: center;
}

a {
text-decoration: none;
color: var(--color-7);
font-weight: bold;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.barra-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* configuración buscador*/

.buscador {
    display: flex;
    justify-content: center;
}
.buscador input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #d14018;
    border-radius: 4px 0 0 4px; /* Bordes redondeados solo a la izquierda */
    width: 300px;
    outline: none;
    color: red;
    background-color: #a6f18f;
}
.buscador input::placeholder {
    color: #d14018
}

.buscador button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: var(--color-3);
    color: var(--color-7);
    border-radius: 0 4x 4px 0; /* Bordes redondeados solo a la derecha */
    cursor: pointer;
}
.buscador button:hover {
    background-color: var(--color-4);
}

/* Acá configuracion del Acceso de Comercios */

.acceso{
    color: var(--color-3);
    font-weight: bold;
}


/* Acá comienzas la configuración del menu de categorias y navegacion */

.menu {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 9999;
}

.menu li {
    position: relative;
    
}

.menu li a {
    display: block;
    padding: 10px 20px;
    color: var(--color-7);
    text-decoration: none;
}



/* Submenú (oculto por defecto) */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 9998;
}

.submenu li a {
    padding: 10px;
    color: var(--color-7);
}

.barra-nav div a{
    padding: 10px 20px;
}

.barra-nav  :hover{
    background-color: var(--color-2);
}


.submenu li a:hover {
    background-color: var(--color-1);
}

/* Mostrar submenú al pasar el mouse */
.menu li:hover > .submenu {
    display: block;
}

/* Submenú anidado (subcategorías) */
.submenu .submenu {
    left: 100%;
    top: 0;
}


/* aca comienza main del index*/


.main{
    width: 100%;
    height: 70vh;    
    background-color: #932d11;
    transform: skewy(-5deg);
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main iframe {
    transform: skewy(5deg) 
    
}
.responsive-widht{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#main-index{
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}

.texto-presentacion{
    color: var(--color-7);
    position: absolute;
    transform: skewY(5deg);
    background-color: rgba(136, 25, 25, 0.7);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

.titulo-main h2{
    color: var(--color-7);
    text-align: center;
    padding: 10px 20px;
}

.titulo-main{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: #a6f18f;
}

.content-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-color: 2px white;
}

.categoria-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    width: 25%;
    height: auto;
    padding: 20px;
    margin: 10px;
    transition: all 300ms;
    border: 1.5px solid var(--color-1);
}

.categoria-main a{
    font-size: 1.5em;
    text-align: center;
}

.content-main :hover{
    box-shadow: -5px 5px 0 0 var(--color-4), -10px 10px var(--color-3);
    transform: translate(5px, -5px);
}

.categoria-main :hover {
    box-shadow: none;
    transform: translate(0px, 0px);
}

.content-main img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

/* aca comienza main del catalogo*/
#main-catalogo{
    min-height: 80vh;
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}

.titulo-main{
    background-color: #932d11;
    transform: skewY(-3deg);
    margin-top: 5px;
    margin-bottom: 30px;
}

.titulo-main h2 {
    transform: skewY(3deg);
}


/* aca comienza main del acceso comercios*/
.body-acceso{
    height: 100vh;
}

#main-acceso{
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}
.acceso-form{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-content: center;
    background-color: var(--color-4);
    transform: skewY(-3deg);
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(3deg);
}
.acceso-form input{
    margin: 20px;
    font-size: 1rem;
}
.acceso-form input[type="submit"] {
background-color: #1c7aec;
color: var(--color-7);
padding: 10px 20px;
border-radius: 5px;
margin-top: 30px;
}

.acceso-form a {
    color: var(--color-7);
    text-decoration: underline;
    font-size: .7rem;
}

.footer-acceso{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* aca comienza main del acceso*/

.contacto-form input[type="submit"] {
    background-color: #1c7aec;
    color: #ffffff;
    }


/* comienza main de los comercios*/
#map {
    height: 400px; /* Altura del mapa */
    width: 100%; /* Ancho del mapa */
}
.container {
    display: flex;
}
#list {
    width: 200px;
    margin-right: 20px;
}
#list ul {
    list-style-type: none;
    padding: 0;
}
#list li {
    cursor: pointer;
    padding: 10px;
    background-color: #a3aa9f;
    margin-bottom: 5px;
}
#list li:hover {
    background-color: #121c16;
}
#list a{
    color:#ffffff;
    background-color: #4fd38a;
}
/* aca comienza footer*/


footer a {
color: black;
font-weight: bold;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.texto-footer{
    width: 50%;
    padding: 10px;
    text-align: right;
}

.derechos.footer{
    width: 25%;
}

.redes-footer{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.redes-footer i {
    margin: 10px;
}
