/* aca comienza main del acceso comercios*/
.body-acceso{
    height: 100vh;
}

#main-acceso{
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}
.acceso-form{
    width: 70%;
    height: 30vh;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-content: center;
    background-image: linear-gradient(60deg, var(--color-3),var(--color-4));
    border-radius: 30px;
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acceso-form input{
    margin: 20px;
    font-size: 1rem;
    padding: 10px;
}
.acceso-form input[type="submit"] {
background-color: var(--color-7);
color: var(--color-3);
padding: 10px 20px;
border-radius: 25px;
margin-top: 30px;
font-weight: bold;
}

.acceso-form{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.video-recorrido{
    height: 80%;
    width: auto;
    border-radius: 20px;
}

.acceso-form a {
    color: var(--color-7);
    text-decoration: underline;
    font-size: .7rem;
}

/* Aca comienza el Responsive MOVIL del index */
@media screen and (max-width: 576px) {

    .top-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 50px;
        grid-template-areas: 
        "header aside aside"
        "main main main"
        ;
    }
    .logo-yofre {grid-area: header;}
    .buscador {grid-area: aside;}
    .links {grid-area: main;}
    
    .video-recorrido{
    display: none;
    }   

    .logo-yofre img{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .buscador form{
        display: flex;
        justify-content: center;
    }
    .buscador input[type="text"] {
        font-size: .8em;
        width: 60%;
    }

    
    .buscador button {
        padding: 10px;
        font-size: .8rem;
    }

    .buscador{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .acceso{
        text-align: center;
    }

    
    .links{
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        width: 100%;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: auto;
        background-image: linear-gradient(60deg, var(--color-1), var(--color-2));
        border-radius: 50px 50px 0px 0px ;
        width: 100%;
    }

    .texto-footer{
        width: 90%;
        text-align: center;
        padding: 15px;
    }
    
    .derechos.footer{
        width: 90%;
    }
    
    .redes-footer{
        width: 90%;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}