/* aca comienza main del catalogo*/


.titulo-main{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: #a6f18f;
}

.content-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-color: 2px white;
}

.categoria-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    width: 25%;
    height: auto;
    padding: 20px;
    margin: 10px;
    transition: all 300ms;
    border: 1.5px solid var(--color-1);
    background-color: var(--color-2);
}

.categoria-main a{
    font-size: 1.5em;
    text-align: center;
}

.content-main :hover{
    box-shadow: 5px 5px 0 0 var(--color-4), 10px 10px var(--color-8), 15px 15px 0 0 var(--color-3);
    transform: translate(-5px, -5px);
    background-color: var(--color-1);
}

.categoria-main :hover {
    box-shadow: none;
    transform: translate(0px, 0px);
    
}

.content-main img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

#main-catalogo{
    min-height: 80vh;
    display: block;
    justify-content: center;
}

.titulo-main{
    background-image: linear-gradient(60deg, var(--color-3),var(--color-4));
    margin-top: 5px;
    margin-bottom: 30px;
}

/* Aca comienza el Responsive MOVIL del catalogo */
@media screen and (max-width: 576px) {
    .content-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        border-color: 2px white;
    }
    .categoria-main{
        width: 90%;
        height: 50%;
        padding: 0;
    }
    .content-main img{
        display: none;
        
    }
    
    .img576px {
        background-size: 100% ; 
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 50px 50px rgba(0, 0, 0, 0.3),
    }

    .img-ropa{
        background-image: url("../images/ropa2.webp");
        @extend .img576px;
    }
    
    .img-comida{
        background-image: url("../images/comida2.webp");
        @extend .img576px;
    }
    .img-regalo{
        background-image: url("../images/regalo2.webp");
        @extend .img576px;
    }
    .img-hogar{
        background-image: url("../images/hogar2.webp");
        @extend .img576px;
    }
    .img-tecno{
        background-image: url("../images/tecnologia2.webp");
        @extend .img576px;
    }

    .content-main a {
        font-size: 3rem;
        padding: 0px;
        text-transform: uppercase;
        margin: 0;
        
    }
}

/* animaciones */

.content-main {

    animation: fallSequence 0.5s ease-out forwards;
    transform: translateX(-100px);
    opacity: 0;
}

.content-main { animation-delay: 1s; }


@keyframes fallSequence {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}