/* comienza main de los comercios*/
.main-comercios{
    width: 100%;
    height: 80vh;
}

#map {
    height: 70vh; /* Altura del mapa */
    width: 80%; /* Ancho del mapa */
    border-radius: 30px;
}
#container {
    display: flex;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}
#list {
    width: 30%;
    margin-right: 20px;
    max-height: 70vh;
    overflow: auto;
}
#list ul {
    list-style-type: none;
    padding: 0;
}
#list li {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

#list li:hover {
    background-color: var(--color-1);
    border-radius: 10px;
}
#list a{
    color:#ffffff;
    background-color: #4fd38a;
    padding: 5px;
}

/* Aca comienza el Responsive MOVIL del comercio */
@media screen and (max-width: 576px) {
    .main-comercios{
        height: 50vh;
    }
    #map {
        height: 40vh;
    }
    #list{
        height: 40vh;
    }
  
}

/* animaciones */

#container {

    animation: fallSequence 0.5s ease-out forwards;
    transform: translateX(-100px);
    opacity: 0;
}

#container { animation-delay: .5s; }


@keyframes fallSequence {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}