/* Main de Contato */

.contacto-form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    }
    
    .contacto-form-inputs input{
        margin: 20px;
        font-size: 1rem;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #mensaje{
        height: 200px;
    }
    .contacto-form-inputs input[type="submit"]{
    background-color: var(--color-7);
    color: var(--color-3);
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 30px;
    font-weight: bold;
    }
    
    .contacto-form{
        width: 70%;
        height: 60vh;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
        align-content: center;
        background-image: linear-gradient(60deg, var(--color-3),var(--color-4));
        border-radius: 30px;
    }
    
    /* Aca comienza el Responsive MOVIL del contacto */
@media screen and (max-width: 576px) {
    .contacto-form{
        width: 90%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    .contacto-form-inputs input{
        margin: 5px;
        padding: 5px;
    }
    #mensaje{
        height: 100px;
    }
    
}

/* animaciones */

.contacto-form {

    animation: fallSequence 0.5s ease-out forwards;
    transform: translateX(-100px);
    opacity: 0;
}

#contacto-form { animation-delay: .5s; }


@keyframes fallSequence {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}