.top-headindex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

/* aca comienza main del index*/
.video-bg {
    position: absolute;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    z-index: -1;
}
.img-bg {
    display: none;
}

.video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Aca comienza el MAIN del index */
#main-index{
    padding: 10px 0 0 0;
    display: block;
    justify-content: center;
}

.texto-presentacion p {
    color: var(--color-7);
    font-size: 1rem;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
.texto-presentacion{
    
    background-color: var(--color-9);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}


/* Aca comienza el FOOTER del index */
.footer-index{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    height: auto;
}
#footer-indexx{
    padding-top: 50px;
    background-image: linear-gradient(60deg, var(--color-1), var(--color-2));
    border-radius: 50px 50px 0px 0px ;
    width: 100%;
}


/* Aca comienza el Responsive MOVIL del index */
@media screen and (max-width: 576px) {

    .top-headindex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 50px;
        grid-template-areas: 
        "header aside aside"
        "main main main"
        ;
    }


    .logo-yofre {grid-area: header;}
    .buscador {grid-area: aside;}
    .links {grid-area: main;}
    

    
    .logo-yofre img{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    .buscador form{
        display: flex;
        justify-content: center;
    }
    .buscador input[type="text"] {
        font-size: .8em;
        width: 60%;
    }
    
    
    .buscador button {
        padding: 10px;
        font-size: .8rem;
    }

    .buscador{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .acceso{
        text-align: center;
    }

    .img-bg {
        display: block;
        position: absolute;
        height: 90vh;
        overflow: hidden;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        object-fit: cover;
    }

    .video-bg {
        display: none;
    }
    
 
    
    .links{
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

    .main{
        height: 40vh;   
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 70%;
    }

    #main-index{
        display: flex;
        justify-content: center;
    }
    
    .texto-presentacion{
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    h4{
        font-size: 2.5rem;
    }

    .footer-index{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: auto;
    }
    #footer-indexx{
        background-image: linear-gradient(60deg, var(--color-1), var(--color-2));
        border-radius: 50px 50px 0px 0px ;
        width: 100%;
    }

    .texto-footer{
        width: 90%;
        text-align: center;
    }
    
    .derechos.footer{
        width: 100%;
    }
    
    .redes-footer{
        width: 100%;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}