.main{
    height: 70vh;   
    display: flex;
    justify-content: left;
    align-items: end;
    margin-left: 15%;
}

.responsive-widht{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}