
:root{
    --color-1: #4fd38a;
    --color-2: #a6f18f;
    --color-3: #ff97d9;
    --color-4: #e44f9c;
    --color-5: #acacac;
    --color-6: #979797;
    --color-7: #f4f5f0;
    --color-8: #ff69b4;
    --color-9: rgba(0, 0, 0, 0.8);
}